p{
	padding: 0;
	color: ghostwhite;
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	box-sizing: border-box;
	border-bottom: 4px solidd #555;
	position: absolute;
	margin-left: 550px;
	text-shadow: 0 20px 30px rgba(0, 0, 0, 8);
	border-radius: 10px;
}
body{
	background: url(migbg.png);
	background-size: cover;

}

.btn{
	padding: 0;
	margin: 0;
	color: ghostwhite;
	width: 200px;
	height: 200px;
	text-align: center;
	top: 400px;
	left: 400px;
	position: relative;
	border: 3px solid #555;
	border-radius: 5px;
	transition-duration: .50s;
	background: url(picmig.jpg);
	background-size: cover;
}
.btn1{
	box-shadow: 0 30px 60px rgba(0, 0, 0, .5);
}
.btn1:hover{
	box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
	transform: scale(1.0);
}
.btn2{
	box-shadow: 0 30px 60px rgba(0, 0, 0, .5);
}
.btn2:hover{
	box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
	transform: scale(1.0);}
}